<div class="col-6 col-sm-4 col-lg-3">
  <a href= 'albums/{{id}}'><img src= '{{represent}}' class="img-rounded avatar" alt="1412538"></a>
  <span>
         Người đăng: <b>{{name}}</b>
         <br>
         Số lượng ảnh: {{pictures}}
         <br>
         Số lượng view: {{views}} <span class="glyphicon glyphicon-eye-open"></span>
  </span>
</div>
